<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Scoria"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="syn7xx"
    UpgradeCode="A9B1C3F4-6D18-4F85-9B51-3E2A31B4E2D9">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <Icon Id="ScoriaProductIcon" SourceFile="$(var.SourceDir)\scoria.exe" />
    <Property Id="ARPPRODUCTICON" Value="ScoriaProductIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" />

    <UIRef Id="ScoriaInstallUI" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of Scoria is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Scoria" />
      </Directory>
      <!-- Standard shell folder ids (no Name): required so Light resolves DirectoryRef. -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuScoriaFolder" Name="Scoria" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ScoriaExeComponent" Guid="8A0F0F64-9D54-4BE7-A4F7-4A090B1EAB8A" Win64="yes">
        <File Id="ScoriaExeFile" Source="$(var.SourceDir)\scoria.exe" KeyPath="yes" />
        <Environment
          Id="ScoriaPath"
          Name="PATH"
          Action="set"
          Part="last"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuScoriaFolder">
      <Component Id="StartMenuShortcutComponent" Guid="BA094A84-14DC-4A20-8785-F3374B5B8F62" Win64="yes">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Scoria"
          Description="Save clipboard to Obsidian vault"
          Target="[#ScoriaExeFile]"
          WorkingDirectory="INSTALLFOLDER"
          Icon="ScoriaProductIcon"
          Advertise="no">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="syn7xx.Scoria" />
        </Shortcut>
        <RemoveFolder Id="ProgramMenuScoriaFolder" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="Software\syn7xx\Scoria"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="E0AD5B29-DA42-4D80-BF7A-A4FF0B7075B0" Win64="yes">
        <Condition><![CDATA[CREATE_DESKTOP_SHORTCUT="1"]]></Condition>
        <Shortcut
          Id="DesktopShortcut"
          Name="Scoria"
          Description="Save clipboard to Obsidian vault"
          Target="[#ScoriaExeFile]"
          WorkingDirectory="INSTALLFOLDER"
          Icon="ScoriaProductIcon"
          Advertise="no" />
        <RegistryValue
          Root="HKLM"
          Key="Software\syn7xx\Scoria"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Scoria" Level="1">
      <ComponentRef Id="ScoriaExeComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Product>

  <Fragment>
    <UI Id="ScoriaInstallUI">
      <UIRef Id="WixUI_InstallDir" />

      <Dialog Id="ScoriaShortcutDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control
          Id="Description"
          Type="Text"
          X="25"
          Y="57"
          Width="320"
          Height="40"
          Transparent="yes"
          NoPrefix="yes"
          Text="A Start menu shortcut is always created. Choose whether to also place a shortcut on the desktop." />
        <Control
          Id="DesktopShortcutCheck"
          Type="CheckBox"
          X="25"
          Y="110"
          Width="320"
          Height="18"
          Property="CREATE_DESKTOP_SHORTCUT"
          CheckBoxValue="1"
          Text="Create a desktop shortcut"
          TabSkip="no" />
        <Control
          Id="BottomLine"
          Type="Line"
          X="0"
          Y="234"
          Width="370"
          Height="0" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" />
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
          <Publish Event="NewDialog" Value="InstallDirDlg" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ScoriaShortcutDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ScoriaShortcutDlg" Order="2">1</Publish>
    </UI>
  </Fragment>
</Wix>
